# SBT/project structure:
target/
# or more-specific /target/, /*/target/, /project/project/target/?

# SBT? IntelliJ IDEA?:
/.bsp/

# REVISIT:
# # IntelliJ IDEA:
# /.idea/

# Emacs:
*~
.#.*

# MacOS:
.DS_Store


--------------------------------------------------------------------------------
REVISIT:

# (gitignore notes:
# - .gitignore files can be in multiple directories
#   - patterns evaluated relative to .gitignore file
# - (user-specific settings can go in via file ~/.gitconfig)
# - ?
#   - leading slash anchors to first pathname segment (rel. to .gitignore)
#   - trailing slash limits to matching directories
#   - "**" segment matches zero or more directories (and files if no end slash) (roughly?)
#     - (What about a/b**c/d?
# - seemingly:
#   - pattern not containing any non-trailing slash is treated shell glob
#     pattern matching at _any_ level
#   - pattern containing non-trailing slash is treated as shell glob
#     pattern matching only from top level (rel. to .gitignore)
# - "!" negates ...
# )





